
.fb{
    height: 20px;
    width: 20px;
}
.insta{
    height: 20px;
    width: 20px;
}
.linkdn{
    height: 20px;
    width: 20px;
}
.body{
    margin: 0px;
}
.profile_pic{
    border-radius: 50%;
    border: 3px solid #50ac11;
}
.profile_pic:hover{
    cursor: pointer;
    border: 3px solid #fc466b;
    transition: 0.5s;
}

.contact{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ab_img{
    border-radius: 10px;
    cursor: pointer;
}
